.blog {
	background: #16405B;
}

.content {
	max-width: 100%;
	margin: 0;
	padding: 0;
}

.articles {
	margin-left: 0.5vw;
	margin-top: 4vh;
	max-width: 30vw;
	background: #1f4863;
}

.title {
	text-align: center;
	background: #8BDB35;
	height: 18vh;
	margin-top: 3vh;
	color: white;
	font-weight: bold;
	font-size: 4em;
}

.subtitle {
	color: #FEFEFE;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}

p {
	color: #FEFEFE;
}

.row, .details {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.details {
	font-size: 1.5em;
}

.article {
	display: flex;
	align-items: center;
	font-size: 1.2em;
	text-align: justify;
}

.article img {
	margin-right: 1vw;
}

.footer {
	text-align: center;
	color: #8BDB35;
	font-weight: bold;
	margin-top: 5vh;
	font-size: 2.3em;
}
