body {
	background: #16405B;
}

.content {
	width: 93%;
	margin: auto;
}
.articles {
	border: solid white 2px;
	margin: 1.5em;
}

.title {
	text-align: center;
	background: #8BDB35;
}

h2, h3 {
	color: white;
	font-weight: bold;
}

p {
	color: white;
}

.row, .details {
	display: flex;
	flex-direction: row;
}

.article {
	display: flex;
	align-items: center;
}

